* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Pacifico', cursive;
	font-family: 'Inter', sans-serif;
	color: #fffff2;
}

img {
	max-width: 100%;
}

/* GENERAL STYLES */

.container {
	width: 90%;
	margin: 0 auto;
}
section {
	min-height: 100%;
	padding: 6.8rem 0;
}

a:link,
a:visited {
	color: #fffff2;
	text-decoration: none;
	font-weight: 900;
	font-size: 2.4rem;
}

a:hover,
a:active {
	color: #fffff2;
}

.break {
	display: block;
}

/* HERO */

.hero {
	background: linear-gradient(
		to right,
		#07402a 0%,
		#07402a 50%,
		#622c2c 50%,
		#622c2c 100%
	);
	position: relative;
	overflow: hidden;
}

/* Hero Img */

.hero {
	padding: 4rem 0;
}

.hero-img {
	position: absolute;
	left: 60%;
	bottom: -10%;
	width: 50rem;
}
/* nav */

.main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 6rem;
}

.left-nav {
	display: flex;
	gap: 8rem;
	align-items: center;
}

.main-nav ul {
	display: flex;
	gap: 2.4rem;
	text-shadow: -3px 3px 2px rgba(0, 0, 0, 0.25);
}

.right-nav {
	display: flex;
	align-items: center;
	gap: 4.8rem;
}

.logo {
	font-size: 3.2rem;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.2;
	font-weight: 900;
	text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.25);
}

.logo p:last-child {
	color: rgb(236, 64, 29);
}

nav .btn {
	cursor: pointer;
}

nav .btn:link {
	background-color: rgb(236, 64, 29);
	padding: 1.2rem 2rem;
	text-transform: uppercase;
	border-radius: 6px;
	font-size: 1.8rem;
}

nav i {
	font-size: 2.4rem;
	cursor: pointer;
}

/* hero text */

.hero-container {
	width: 75%;
	margin: 0 auto;
}

h1 {
	font-size: 12rem;
	text-transform: uppercase;
	font-weight: 900;
	color: #fffff2;
	text-shadow: -12px -1px 4px rgba(0, 0, 0, 0.25);
	line-height: 1;
}

.big-title {
	font-size: 27.5rem;
	text-shadow: -20px -6px 4px rgba(0, 0, 0, 0.25);
	color: #ff9f1c;
}

.hero-text h3 {
	font-size: 3.2rem;
	color: rgb(236, 64, 29);
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: Pacifico;
	margin-top: 2.4rem;
	padding-left: 8rem;
}

/* order */

.section-order {
	background-color: #ff9f1c;
}

.section-order h2 {
	font-size: 12rem;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
	color: #07402a;
	letter-spacing: 4px;
	text-shadow: -6px 0px 0px #f6e7cb, -12px 0px 0px #db573b,
		-15px -1px 0px rgba(0, 0, 0, 0.25);
	text-decoration: underline;
	margin-bottom: 6rem;
}

h4 {
	text-align: center;
	font-family: 'Pacifico', cursive;
	color: #000;
	font-size: 3.2rem;
	margin-bottom: 4.8rem;
}

/* cards */

.cards-container {
	display: flex;
	justify-content: center;
	gap: 2.4rem;
	margin-bottom: 4.8rem;
}

.card {
	padding: 3.2rem 2.4rem;
	background-color: #07402a;
	border-radius: 10px;
	box-shadow: -5px 12px 10px rgba(0, 0, 0, 0.25);
	border-radius: 21px;
	display: flex;
	width: 400px;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
	margin-bottom: 3.2rem;
}

.card:nth-of-type(2) {
	background-color: #0a0f1b;
}
.card:nth-of-type(3) {
	background-color: #622c2c;
}

.card-img-container {
	display: flex;
	justify-content: center;
	margin-bottom: 4.8rem;
}
.card img {
}

.card-line {
	height: 3px;
	width: 80%;
	margin: 0 auto;
	background-color: #ff9f1c;
	margin-bottom: 4.8rem;
}

.price-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2.4rem;
}

.item-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.price {
	font-size: 2rem;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}

.price-info i {
	font-size: 2rem;
	cursor: pointer;
}

.item-button p {
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 1.2;
}

.card-btn:link,
.card-btn:visited {
	align-self: flex-end;
	font-size: 1.4rem;
	background-color: #db573b;
	padding: 1.2rem 3.2rem;
	border-radius: 4px;
	font-weight: 500;
}

.show-more {
	display: flex;
	justify-content: center;
	color: #07402a;
	font-family: 'Pacifico', cursive;
	align-items: center;
	flex-direction: column;
}

.show-more img {
	display: inline;
	margin-left: 1.2rem;
}
.show-more a:link {
	color: #07402a;
	font-family: 'Pacifico', cursive;
}

.underline {
	margin-top: 0.4rem;
	background-color: #07402a;
	height: 3px;
	width: 150px;
}

/* about */

.section-about,
.top-section,
.bottom-section {
	padding: 0;
}

.section-about {
	background-color: #07402a;
}

.top-section {
	display: flex;
	height: 50vh;
}

.about-text-container {
	padding: 6.8rem;
	width: 50%;
}
.about-img-container-top {
	width: 50%;
	height: 100%;
	background-image: url('/img/about1.jpg');
	background-size: cover;
	background-position: 0%;
}
.bottom-section {
	display: flex;
	height: 50vh;
	background-color: #622c2c;
}

.about-img-container-bot {
	width: 50%;
	height: 100%;
	background-image: url('/img/about2.jpg');
	background-size: cover;
	background-position: 0 72%;
}

.about-text-container h3 {
	font-family: Pacifico;
	font-size: 6.8rem;
	text-shadow: -7px 0px 0px rgba(0, 0, 0, 0.25);
	margin-bottom: 4.8rem;
}

.about-text-container p {
	line-height: 1.5;
	margin-bottom: 2.4rem;
	font-weight: 400;
	font-size: 1.6rem;
}

/* CONTACT */

.section-contact {
	background-color: #db573b;
}

.section-contact h2 {
	font-size: 12rem;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
	color: #622c2c;
	letter-spacing: 4px;
	text-shadow: -6px 0px 0px #f6e7cb, -12px 0px 0px #ff9f1c,
		-15px -1px 0px rgba(0, 0, 0, 0.25);
	text-decoration: underline;
	margin-bottom: 6rem;
}

form {
	width: 30%;
	margin: 0 auto;
	margin-bottom: 4.8rem;
}

input {
	border: none;
	padding: 1.2rem;
}

.top-row-inputs {
	margin-bottom: 1.2rem;
	display: flex;
	gap: 1.2rem;
}

.top-row-inputs input {
	width: 50%;
}
textarea {
	margin-bottom: 1.6rem;
	width: 100%;
	font-family: 'Inter';
	font-size: 1.4rem;
	resize: vertical;
	height: 20em;
	padding: 1.2rem;
}

.form-btn {
	width: 100%;
	text-transform: uppercase;
	background-color: #07402a;
	font-weight: 700;
	font-size: 1.6rem;
	color: #fff;
	cursor: pointer;
}

.social-media {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2.4rem;
}

/* .facebook i {
	color: #3b5998;
}
.twitter i {
	color: #24a4f2;
}
.mail i {
	color: ;
} */
/* footer */

footer {
	height: 5vh;
	background-color: #0a0f1b;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
}
